<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">

<bean id="person" class="pureXMLDependencyInjecttionExample.Person">
    <property name="city" ref="home123"/>
    <property name="wife" ref="wife"/>
    <property name="career" ref="careerFuture"/>
</bean>

<bean id="home123" class="pureXMLDependencyInjecttionExample.City">
    <property name="cityName" value="San Jose"/>
    <property name="area" value="NorCal"/>
</bean>

<bean id="wife" class="pureXMLDependencyInjecttionExample.Wife">
    <property name="name" value="Sophie Yan"/>
    <property name="faith" value="Christian"/>
</bean>

<bean id = "careerCurrent" class="pureXMLDependencyInjecttionExample.Career">
    <property name="jobType" value="SDE"/>
    <property name="jobLevel" value="4"/>
</bean>
<bean id="careerFuture" class="pureXMLDependencyInjecttionExample.Career">
    <property name="jobType" value="SDE"/>
    <property name="jobLevel" value="5"/>
</bean>

</beans>